.form {
    &-section {
        padding: 15px;
        overflow: hidden;
        background: $white;
        border: 1px solid $light-gray;
        margin: 20px 0;
        border-radius: 0.25rem;
    }

    &-title {
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    &-draggable {
        cursor: grab;
    }

    label {
        margin: 0;
        font-weight: 500;
    }

    .button-container {
        text-align: right !important;
        margin-top: 16px;
    }

    .submit-button-container {
        text-align: right !important;
        margin: 16px 0;
    }
}