@mixin font ($size: false, $color: false, $family: false) {
    font-weight: 400;
    
    @if $family {
        font-family: $family;
    } @else {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    @if $color {
        color: $color;
    } @else {
        color: $font-form-color;
    }

    @if $size {
        font-size: $size;
    } @else {
        font-size: 14px;
    }
}