.form {

    color: $font-form-color;
    
    &__row {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        margin: 10px -10px;
    }

    &__column {
        display: flex;
        flex-direction: column;
        flex: 1;
        padding: 0 10px;
    }

    &__inline {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        flex: 1;
        margin-bottom: 10px;

        &__control {
            margin-right: 5px;
        }
    }

    &__column-2 {
        display: flex;
        flex-direction: column;
        flex: 2;
        padding: 0 10px;
    }

    &__section {
        padding: 15px;
        overflow: hidden;
        background: $white;
        border: 1px solid $light-gray;
        margin: 20px 0;
        border-radius: 0.25rem;
    }

    &__control {
        display: flex;
        flex: 1;
        border: 1px solid $gray-border;
        border-radius: 0.25rem;
        padding: 4px 8px;
    }

    &__title {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 1rem;
        text-transform: uppercase;
    }

    &__draggable {
        cursor: grab;
    }

    &__label {
        margin: 0;
        margin-bottom: 5px;
        font-weight: 400;
        text-transform: uppercase;
        font-size: 14px;
        display: inline-block;
    }

    &__error-section {
        font-size: 13px;
        color: $error;
    }

    .button-container {
        text-align: right !important;
        margin-top: 16px;
    }

    .submit-button-container {
        text-align: right !important;
        margin: 16px 0;
    }
}