$green-main: #45A29E;
$green-hover: #419692;
$green-active: #3B8A86;

$font-form-color: #333;
$font-color: #898989;
$font-color-light: #EBEBEB;

$gray-main: #FAFAFA;
$gray-hover: #D7D7D7;
$gray-active: #BABABA;

$gray-table-header: #ECEEEF;

$gray-border: #DDDDDD;

$white: #FFFFFF;

$error: #D64E47;

// OBSOLETE
$white-smoke-gray: #fafafa;
$light-gray: #ced4da;
$disabled-gray: #e9ecef;
$border-gray: #dfdfdf;
$table-background-gray: #f7f7f7;