.button {
    @include font;
    border: 0;
    text-decoration: none; 

    display: inline-block;
    border-radius: 0.25rem;
    padding: 8px 16px;
    border: 1px solid $gray-border;
    cursor: pointer;

    &:disabled {
        opacity: 0.5;
    }

    &--primary {
        color: $white;
        background-color: $green-main;
        border: 1px solid $green-main;

        &:hover {
            background: $green-hover;
        }
    }

    &--secondary {
        color: $font-color;
        background-color: $white;

        &:hover {
            background: $gray-hover;
        }
    }

    &--error {
        color: $white;
        background-color: $error;
    }

    &--inline {
        padding: 4px 16px;
    }
}